<% include ./partials/head %>
<% include ./partials/header %>

<form class="" action="/add" method="post">
  <input type="text" name="title" placeholder=링크입력>
  <input type="text" name="description" placeholder=설명입력>
  <input type="submit">
</form>

<% include ./mylist %>
