<!DOCTYPE html>
<html lang="ko">
  <% include ./partials/head %>





  <body>
    <%# <div id="cf">
      <img class="bottom" src="/static/images/bridge.jpg" />
      <img class="top" src="/static/images/city.jpg" />
    </div>%>
    <% include ./partials/header %>

    <p>
      <a href="/add">링크추가</a>
    </p>

    <% include ./mylist %>

  </body>
</html>
